= form_for @debt do |f|
  - if @debt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@debt.errors.count, "error")} prohibited this debt from being saved:"
      %ul
        - @debt.errors.full_messages.each do |message|
          %li= message

  %ol.inputs
    %ol
      = f.label :debtor_name
      = f.text_field :debtor_name
    %ol
      = f.label :amount
      = f.number_field :amount
    %ol
      = f.label :date_borrowed
      = f.date_field :date_borrowed
    %ol
      = f.label :date_due
      = f.date_field :date_due
    %ol
      = f.label :debtor_email
      = f.email_field :debtor_email
    %ol
      = f.label :debtor_phone_num
      = f.telephone_field :debtor_phone_num
    %ol
      = f.label :description
      = f.text_area :description

    %ol.actions
      = f.submit 'Create'
