= form_for @debt do |f|
  - if @debt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@debt.errors.count, "error")} prohibited this debt from being saved:"
      %ul
        - @debt.errors.full_messages.each do |message|
          %li= message

  %ol.inputs
    %ol
      = f.label :amount
      = f.text_field :amount
    %ol
      = f.label :date_borrowed
      = f.text_field :date_borrowed
    %ol
      = f.label :date_due
      = f.text_field :date_due
    %ol
      = f.label :description
      = f.text_field :description
    %ol.actions
      = f.submit 'Create'
