%header
  %h2 Latest Debts
  %p= link_to 'New Post', new_debt_path

%ul.debts
  - @debts.each do |debt|
    %ol
      %article
        %h3= debt.debtor.name
        %p.byline= debt.amount
        %p.byline= debt.description
        %p.byline= debt.date_due

        %ul.controls
          %td= link_to 'Show', debt
          %td= link_to 'Edit', edit_debt_path(debt)
          %td= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Are you sure?' }
